@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="jumbotron">
    <h1>Contact <i class="glyphicon glyphicon-envelope"></i></h1>
    <p class="lead">
        <address style="padding-left:1em">
            Robert Schindler, Ph.D.<br />
            Professor of Marketing<br />
            Email: <a href="mailto:rschindl@camden.rutgers.edu">rschindl@camden.rutgers.edu</a><br />
        </address>
    </p>
</div>
