@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ReactSong<i class="glyphicon glyphicon-heart"></i></h1>
    <p class="lead">Rate Songs As You Listen ♬ <br /> Choose a song, and get started!</p>
    <p><a href="/Music/React" class="btn-lg">Get Started &raquo;</a></p>
</div>
