
@{
    ViewBag.Title = "React";
}

<!DOCTYPE html>
<html>
<body>
    <div class="jumbotron">
        <h1>Rate a Song  <i class="glyphicon glyphicon-signal"></i></h1>
        <p class="lead"> Find a song from YouTube, copy and paste the URL right here, and start listening!</p>
        <div>
            <form method="get" action="@Url.Action("CreateGraph", "Music")">
                <label for="search"><i class="glyphicon glyphicon-search"></i></label>
                <input type="text" name="search" id="search" />
                <button type="submit" class="btn-lg">Submit URL &raquo;</button>
            </form>
        </div>
    </div>
</body>
</html>