
@{
    ViewBag.Title = "React";
}

<!DOCTYPE html>
<html>
<body>

    <div>
        URL: <input id="userURL" type="text" value="https://www.youtube.com/watch?v=7YcW25PHnAA">
        <br>
        <button onclick="refreshIframe();">Submit</button>
    </div>
    <br />

    <div id="player"></div>

    <br />

    <text id="videoTime"></text>/<text id="totalTime"></text>

    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: getID(),
                events: {
                    'onReady': onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            event.target.playVideo();
            setTotalTime(); //Scott put this in here!
        }
    </script>

    <script>
        function addURL() {
            tag.src = getElementById("userURL").value
        }

        function refreshIframe() {
            //document.getElementById('player').src = "https://www.youtube.com/embed/s7wmiS2mSXY";
            document.getElementById('player').src = "https://www.youtube.com/embed/" + getID();
        }

        function getID() {
            return youtube_parser(document.getElementById("userURL").value)
        }

        function updateTime() {
            document.getElementById("videoTime").innerHTML = secondsToHms(player.getCurrentTime());
        }
        function setTotalTime()
        {
            document.getElementById("totalTime").innerHTML = secondsToHms(player.getDuration());
        }
        function secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);
            return ((h > 0 ? h + ":" + (m < 10 ? "0" : "") : "") + m + ":" + (s < 10 ? "0" : "") + s);
        }
    </script>

    <script type="text/javascript">
        function youtube_parser(url) {
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            return (match && match[7].length == 11) ? match[7] : false;
        }
    </script>
    <script>
        setInterval(updateTime, 100);
        //setInterval(setTotalTime, 100);
    </script>

</body>
</html>